<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675339380935-i59sv6sd4nrangbc53l5144ibfdvdqdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675339380935-i59sv6sd4nrangbc53l5144ibfdvdqdb</string>
	<key>API_KEY</key>
	<string>AIzaSyAbPYeKkuqSapkgbehbobteS8HpsGZ23S4</string>
	<key>GCM_SENDER_ID</key>
	<string>675339380935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenki.tenki</string>
	<key>PROJECT_ID</key>
	<string>tenki-1d439</string>
	<key>STORAGE_BUCKET</key>
	<string>tenki-1d439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675339380935:ios:21ece4a09f8cc9659476e2</string>
</dict>
</plist>